.container {
    display: grid;
    background: rgb(247, 247, 247);
    gap: 5px;
    grid-template-columns: 4fr 10fr 3fr;
    grid-template-rows: 1.5fr 70fr 1fr;
    grid-template-areas: "header header header" "left-sidebar main right-sidebar" "footer footer footer";
    padding: 5px;
}

.item-1 {
    background: rgb(71, 71, 71);
    grid-area: header;
}

.item-2 {
    background: rgb(107, 107, 107);
    grid-area: left-sidebar;
}

.item-3 {
    background: rgb(255, 255, 255);
    grid-area: main;
}

.item-4 {
    background: rgb(102, 102, 102);
    grid-area: right-sidebar;
}

.item-5 {
    background: rgb(32, 32, 32);
    grid-area: footer;
}